* {
    color: white;
}

.label {
    font-size: 20px;
}

.background {
    background-image: url('/static/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.formular-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px 60px;
    padding-right: 0px;
    margin: 20vh;
    width: 600px;
    -webkit-box-shadow: 1px 4px 25px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 25px 11px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 25px 11px rgba(0, 0, 0, 0.75);
}

.formular-container2 {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px 60px;
    padding-right: 0px;
    margin: 20vh;
    width: 1000px;
    -webkit-box-shadow: 1px 4px 25px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 25px 11px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 25px 11px rgba(0, 0, 0, 0.75);
}

.button {
    margin-top: 15px;
}

.suchbutton {
    margin-top: 20px;
    position: absolute;
    bottom: 15em;
    right: 15em;
    float: right;
    margin-right: 20px;
}

a {
    padding-top: 150px;
    margin-left: 175px;
    color: white;
}